@tailwind base;
@tailwind components;
@tailwind utilities;

.paddingX {
    padding: 10px 120px;
}

.paddingXD {
    padding: 10px 60px;
}

@media (max-width: 768px) {
    
    .paddingX {
        padding: 10px 10px;
    }
    
    .paddingXD {
        padding: 10px 20px;
    }
    
}